[Unit]
Description=ActivityWatch Data Collector
After=network.target

[Service]
Type=oneshot
User=%i
WorkingDirectory=/home/%i/education/programming/Data_Lake
ExecStart=/home/%i/education/programming/Data_Lake/bin/aw-client -minutes 5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

